<!DOCTYPE html>
<html>
<head>
    <!-- Head content -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Ecommerce</a>
            <a class="navbar-brand" href="/profile">Profile</a>
            <a class="navbar-brand" href="/products">Products</a>
            {% if session['user_id'] %}
            <button onclick="window.location.href = '/logout'; " class="btn btn-primary" type="submit">Logout</button>
            {% endif %}
        </div>
    </nav>
    <br>
    {% block content %}{% endblock %}

    <!-- Footer and scripts -->
</body>
</html>
